---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <Header />
  <main class="flex flex-col items-center justify-center p-4">
    <h1 class="text-4xl font-bold">KRNL Radio</h1>
    <div class="p-8">
      <p class="text-xl">
        Welcome! KRNL is a student-run college radio station that was
        broadcasting at 89.7 FM.
      </p>
      <p class="text-xl">
        We seek to provide a personal, alternative source of entertainment to
        the outlying community.
      </p>
    </div>
  </main>
</Layout>
