---

---

<nav
  class="border-white border-solid border-b text-xl m-0 p-3 text-center text-white bg-slate-900"
>
  <ul class="m-0 p-0">
    <a href="/" class="inline-block my-0 mx-4 hover:underline"> Home </a>
    <a href="/player" class="inline-block my-0 mx-4 hover:underline">
      Player
    </a>
    <a href="/schedule" class="inline-block my-0 mx-4 hover:underline">
      Schedule
    </a>
    <a href="/members" class="inline-block my-0 mx-4 hover:underline">
      Members
    </a>
    <a href="/contact" class="inline-block my-0 mx-4 hover:underline">
      Contact
    </a>
  </ul>
</nav>
