---
import Header from "../../components/Header.astro";
import HistoryComponent from "../../components/History";
import PlayerComponent from "../../components/Player";
import RequestsComponent from "../../components/Requests";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Player">
  <Header />
  <main class="flex h-screen flex-col">
    <div class="flex flex-grow w-full">
      <PlayerComponent client:load />
      <div>
        <dialog id="requests-modal" class="modal">
          <div class="modal-box">
            <RequestsComponent client:idle />
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
        <dialog id="history-modal" class="modal">
          <div class="modal-box">
            <HistoryComponent client:idle />
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>
    </div>
  </main>
</Layout>
