---
import Header from "../../components/Header.astro";
import PlayerComponent from "../../components/Player";
import Layout from "../../layouts/Layout.astro";

const albumArt = "https://via.placeholder.com/500";
const title = "Buddy Holly - Weezer";
const host = "Luna";
---

<Layout title="Player">
  <Header />
  <main class="flex h-screen flex-col">
    <div class="flex flex-grow w-full">
      <PlayerComponent client:load />
    </div>
  </main>
  <!-- <script>
    function onPlayPauseClick() {
      console.log("Play/Pause clicked");
    }

    document
      .getElementById("playPauseBtn")!
      .addEventListener("click", onPlayPauseClick);
  </script> -->
</Layout>
