---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";

export async function getStaticPaths() {
  return (await getCollection("shows")).map((show) => ({
    params: { show: show.data.name.toLowerCase() },
    props: { show: show.data },
  }));
}

const { show } = Astro.props;
const description = await marked(show.description);
---

<Layout title={show.name}>
  <Header />
  <main class="flex flex-col items-center justify-center p-4">
    <h1 class="text-2xl">{show.name}</h1>
    <h2>placeholder :3</h2>
    <div class="prose !prose-invert">
      <p set:html={description} />
    </div>
  </main>
  <a href="/shows" class="flex justify-center">Back to Shows</a>
</Layout>
