---
import { Picture } from "astro:assets";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection("shows")).map((show) => ({
    params: { show: show.data.name.toLowerCase() },
    props: { show: show.data },
  }));
}

const { show } = Astro.props;
---

<Layout title={show.name}>
  <Header />
  <main class="flex flex-col items-center justify-center p-4"></main>
  <a href="/shows" class="flex justify-center">Back to Shows</a>
</Layout>
