---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="flex flex-col items-center justify-center p-4">
    <h1 class="text-4xl font-bold">Shows</h1>
    <div class="p-8">
      <p class="text-xl">Placeholder!</p>
      <p class="text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        incidunt aperiam libero impedit exercitationem perferendis deserunt,
        veritatis quibusdam eligendi provident, optio quo temporibus. Culpa quo
        ratione architecto deleniti iusto nemo!
      </p>
    </div>
  </main>
</Layout>
