---
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { Schedule } from "../../util/scheduleParser";

const shows = await getCollection("shows");
---

<Layout title="Members">
  <Header />
  <main class="flex flex-col items-center justify-center p-4">
    <h1 class="text-4xl font-bold">Shows</h1>
    <div class="text-lg">{shows.length} shows (and counting!)</div>
    <div class="flex flex-wrap justify-center p-4 w-full">
      {
        shows.map((member) => (
          <Card
            title={member.data.name}
            subtitle={(new Schedule(member.data.schedule)).toLongString()}
            href={`/shows/${member.data.name.toLowerCase()}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
